* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f8;
    font-family: 'Quicksand', sans-serif;
}

.container {
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (min-width: 700px) {
    .container {
        max-width: 600px;
    }
}

.logo {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.form {
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0.2px 16px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.form form {
    display: flex;
    align-items: center;
    border-width: 0 0 2px 0;
    border-color: #dae1e7;
    border-style: solid;
}
.form input {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    color: #7f878f;
    border: 0;
    padding: 10px 5px 10px 5px;
}

.form input:focus {
    outline: none;
}

.form input::placeholder {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #b8c2cc;
}

.panel-todos {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0.2px 16px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.panel-todos .navs {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.panel-todos .navs .counter {
    color: #38c172;
}

.panel-todos .navs ul {
    list-style: none;
    display: flex;
}

.panel-todos .navs ul li a {
    display: block;
    padding: 4px 5px;
    text-transform: uppercase;
    color: #a2f5bf;
    text-decoration: none;
    margin-left: 10px;
}

.panel-todos .navs ul li.active a {
    color: #38c172;
    background-color: #e3fcec;
    font-weight: bold;
}

.todos .todo {
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 2px solid #f1f5f8;
}

.todos .todo .checkbox {
    width: 30px;
    height: 30px;
    background: transparent url(../images/cb_unchecked.svg) no-repeat;
}

.todos .todo.checked .checkbox {
    background: transparent url(../images/cb_checked.svg) no-repeat;
}

.todos .todo .content {
    color: #606f7b;
    flex: 1;
    margin: 0px 5px 0px 20px;
}

.todos .todo.checked .content {
    text-decoration: line-through;
    color: #b8c2cc;
}

.todos .todo .remove {
    width: 20px;
    height: 20px;
    background: transparent url(../images/remove.svg) no-repeat;

}

.msg {
    text-align: center;
}

.login-panel {
    text-align: center;
}

.login-panel form .login-input input {
    width: 50%;
    height: 30px;
    margin-bottom: 12px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #7f878f;
    border: 0;
    padding: 10px 5px 10px 5px;
    border-bottom: 2px solid #bbbec1;
    background-color: #f1f5f8;
}

.login-panel form .login-input input:focus {
    outline: none;
    border-bottom: 2px solid blue;
    background-color: white;
}

.login-panel form .login-input input::placeholder {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #b8c2cc;
}

.btn-login {
    width: 50%;
    height: 35px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    background-color: #38c172;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.btn-login:focus {
    outline: none;
}

.btn-login:active {
    width: 49%;
}
